@import "mixins";
.auth-footer {
  display: flex;
  align-items: center;
  color: var(--gray);
  font-family: Inter;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 20px;
  
  @include mobile {
    display: none;
  }
}
