<form class="auth-form">
  <div class="auth-form__title">NFT Access</div>
  <div class="auth-form__desc">
    Please fill your detail to access your account.
  </div>

  <div class="auth-form__inputs">
    <label>Email</label>
    <div class="form-group">
      <input type="email" [(ngModel)]="inputText" name="inputField" placeholder="debra.holt@example.com" />
      <span (click)="inputText = ''"><i class="fa-regular fa-circle-xmark"></i></span>
    </div>
    <label>Password</label>
    <div class="form-group">
      <input  [type]="changetype ? 'password' : 'text'" placeholder="" />
      <span class="eyeicon" (click)="viewpass()"><i [ngClass]="visible ? 'fa fa-eye' : 'fa fa-eye-slash'"></i>
      </span>
    </div>
  </div>

  <div class="auth-form__remember">
    <div class="auth-form__remembers">
      <input type="checkbox" class="custom-checkbox" id="Remember me" name="Remember me" value="yes">
      <label for="Remember me">Remember me</label>
    </div>

    <a href="/" class="auth-form__forgot">Forgot Password?</a>
  </div>
  <div class="auth-form__buttons">
    <a href="/" class="btn">Sign in</a>
    <a href="/" class="btn_primary">
      <img src="assets/google.svg" alt="" />Sign in with Google</a>
    <div class="auth-form__text">
      Don’t have an account? <a href="/">Sign up</a>
    </div>
  </div>
</form>