@import "mixins";
.auth-form {
  display: flex;
  flex-direction: column;
  padding-left: 140px;
  @include mobile {
    padding-left: 0;
  }

  &__title {
    color: #344054;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0.4px;
    text-transform: capitalize;
    margin-top: 149px;
    @include mobile {
      max-width: 298px;
      margin-top: 56px;
    }
   
  }

  &__desc {
    margin-top: 8px;
    color: var(--gray);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 56px;
    @include mobile {
      max-width: 298px;
    }
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    label {
      margin-bottom: 8px;
    }

    span {
      color: var(--secondary-color);
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      margin-bottom: 8px;
    }
  }

  &__remember {
    display: flex;
    justify-content: space-between;
    span {
      color: var(--secondary-color);
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
    }
  }
  &__remembers {
    display: flex;
    align-items: center;
    gap: 8px;
    label {
      cursor: pointer;
      display: flex;
      align-items: center;
    }
  }
  .custom-checkbox {
    position: absolute;
    opacity: 0;
  }
  custom-checkbox + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }
  .custom-checkbox + label::before {
    content: "";
    display: inline-block;
    width: 16px;
    text-align: center;
    height: 16px;
    border: 1px solid #d0d5dd;
    border-radius: 4px;
    margin-right: 8px;
  }
  .custom-checkbox:checked + label::before {
    content: "\2714";
    color: white;
    display: flex;
    align-items: center;
    padding-left: 1px;
    border: 1px solid #d0d5dd;
    background-color: #d0d5dd;
  }
  &__forgot {
    color: var(--primary-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    gap: 16px;
  }

  &__text {
    color: var(--secondary-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    max-width: 360px;
    a {
      color: var(--primary-color);
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
    }
  }

  .btn {
    padding: 12px 154px;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    background: var(--primary-color);
    @include mobile {
      padding: 12px 135px;
    }
    &_primary {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
      padding: 10px 90px;
      color: var(--secondary-color);
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
      border-radius: 8px;
      border: 1px solid #d0d5dd;
      @include mobile {
        padding: 10px 70px;
      }
    }
  }

  .form-group {
    display: flex;
    align-items: center;
    padding: 10px 14px;
    border-radius: 8px;
    margin-bottom: 20px;
    border: 1px solid #d0d5dd;
    transition: 0.2s ease-in;
    &::placeholder {
      color: var(--gray);
    }
    &:hover {
      border-color: var(--primary-color);
    }
    i {
      color: #667085;
    }
    input {
      padding-right: 10px;
      flex: 1;
      border: 0;
      outline: 0;
    }
    .eyeicon {
      cursor: pointer;
      margin: 0;
    }
    span {
      margin: 0;
    }
  }
}
