@import "mixins";
html,
body {
  font-family: var(--ff);
}

body {
  background: #413f3f;
}




.btn {
  padding: 12px 154px;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  background: var(--primary-color);

  @include mobile {
    padding: 12px 135px;
  }
  &_primary {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 10px 90px;
    color: var(--secondary-color);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    border-radius: 8px;
    border: 1px solid var(--c-border);
    transition: 0.2s ease-in-out;
    &:hover {
      border-color: var(--primary-color);
    }
    @include mobile {
      padding: 10px 70px;
    }
  }
}
